@import './reset.css';

header{
    background-color: var(--color-table-row-aside-background);
    border-bottom: 2px solid var(--color-header-aside-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.logo-container{
    width: 156px;
    padding: 6px;
}

.logo-container img{
    width: 100%;
}

nav ul{
    display: flex;
    gap: 16px;
}

header a{
    font-size: 1.3em;
    display: block;
    transition: .3s;
}

nav a:hover{
    opacity: .6;
}
