@import './reset.css';

header {
    background-color: var(--color-table-row-aside-background);
    border-bottom: 2px solid var(--color-header-aside-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
    z-index: 2;
}

.logo-container {
    width: 156px;
    padding: 6px;
}

.logo-container img {
    width: 100%;
}

nav{
    background-color: var(--color-table-row-aside-background);
}

.navbar-vertical{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    height: 100dvh;
}

nav ul {
    display: flex;
    gap: 16px;
}

header button {
    cursor: pointer;
    color: var(--color-dialog-button-text);
    background-color: transparent;
    border: none;
    outline: none;
}

header a,
header button {
    font-size: 1.3em;
    display: block;
    transition: .3s;
}

nav a:hover,
nav button:hover {
    opacity: .6;
}

.menu {
    background-image: url('../../advogado/assets/img/profile-photo.webp');
    border: 2px solid black;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.menu-toggle {
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.menu-toggle:checked~.menu-content {
    display: flex;
}

.menu-content {
    position: absolute;
    right: 0;
    top: 100%;
    width: 10%;
    display: none;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: var(--color-main-background);
    padding: 1rem;
}

#hamburger-button{
    display: none;
}

.three{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #ecf0f1;
  text-align: center;
}

.hamburger .line{
  width: 25px;
  height: 2.5px;
  background-color: #ecf0f1;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-button.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-button.is-active .line:nth-child(1){
  -webkit-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

#hamburger-button.is-active .line:nth-child(3){
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

@media (max-width: 768px) {
    nav, #account-area {
        display: none;
    }

    #hamburger-button{
        display: block;
    }

    nav ul{
        flex-direction: column;
    }
    
    nav{
        padding: 1.5rem;
    }
}