@import './reset.css';

main {
    padding: 0 20px;
    background: var(--color-main-background);
    width: 100%;
}

section{
    flex-direction: column;
    gap: 60px;
}

section h1,
section h2{
    text-wrap: wrap;
    text-align: center;
    max-width: 50vw;
}

.img-stack {
    position: relative;
    width: 75vw;
    height: 50vh;
    display: flex;
    align-items: center;
}

.img-stack img {
    border-radius: 12px;
    position: absolute;
    width: 60%;
    height: auto;
    object-fit: cover;
}

.img-stack img:nth-child(1) {
    left: -10%;
}

.img-stack img:nth-child(2) {
    right: -10%;
}

.img-stack img:nth-child(3) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
    z-index: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.download-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab {
    cursor: pointer;
    padding: 8px 24px;
    background-color: #f0f0f0;
    border: none;
    transition: .2s;
}

.tab:hover {
    opacity: .8;
}

.tab.active {
    background-color: #007bff;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content > * {
    margin-bottom: 8px;
}

.tab-content.active {
    display: block;
}

.download-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    text-align: center;
}

.download-btn-container{
    display: flex;
    align-items: center;
}

.download-btn,
.download-slc {
    padding: 8px 24px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: clamp(.8em, .3em + 2.5vw, 1em);
    height: 2.5em;
    text-align: center;
    text-wrap: nowrap;
}

.download-btn-container a {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px
}

.download-btn-container select {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: -1px;
}

.iframe-container {
    position: relative;
    width: 100%;
    max-width: 768px;
}

.iframe-container::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid var(--color-config-li-background);
    background-color: var(--color-background);
    width: 35%;
    border-radius: 15px;
    padding: 1em;
    color: var(--color-form-input-text);
    margin-top: 5%;
}

.login-container h2{
    color: var(--color-text);
}

.login-container form{
    width: 100%;
}

.login-container input{
    width: 100%;
    font-size: 1em;
    padding: .5em;
    margin: .5em 0;
    background-color: var(--color-main-background);
    border: 1px solid var(--color-form-list-text);
    color: var(--color-form-input-text);
}

.login-container input[type="submit"]{
    background-color: var(--color-plan-choosed-background);
    border: 1px solid var(--color-text);
    cursor: pointer;
    color: var(--color-plan-choosed-text);
}

.login-container input[type="submit"]:active{
    opacity: 0.6;
}

.login-container span{
    color: var(--color-text);
}

.login-container input[type="checkbox"]{
    width: initial;
}

.login-container div:last-child span{
    cursor: pointer;
    font-weight: bold;
}

.login-container div:last-child span:active{
    opacity: 0.7;
}

.login-container .alternative-login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-form-input-text);
    padding: .5em 0 .3em 0;
    width: 15%;
    margin: .6em;
}

.division{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.division hr{
    width: 50%;
    border-color: var(--color-form-list-text);
}

.division span{
    margin: 0 .7em;
    color: var(--color-form-list-text);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 auto;
}
  
.card {
    display: flex;
    flex-direction: column;
    background: var(--color-main-container);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    flex: 1;
    padding: 20px;
    min-width: 410px;
    max-height: 320px;
    overflow: auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-config-li-background);
}
  
.card h2 {
    flex: 0 0 auto;
}
  
.card canvas {
    flex: 1 1 auto;
    height: 100% !important;
    margin: auto;
}
  
.plan-card {
    min-width: 330px;
    min-height: 550px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    transition: 1s;
}
  
.plan-card:hover {
    border: 1px solid var(--color-text);
}
  
  .plan-card ul li {
    margin: 10px;
    font-size: 1.2em;
  }

  .plan-card li::before{
    margin-right: 10px;
  }

  .plan-card li:nth-child(n+2):before{
    content: url(/assets/icons/include-in-plan-choosed.png);
  }

  .not-include-in-plan::before{
    content: url(/assets/icons/not-include-in-plan-choosed.png);
  }
  
  .plan-choosed .include-in-plan::before{
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAzMCAzMCI+CjxwYXRoIGQ9Ik0gMjYuOTgwNDY5IDUuOTkwMjM0NCBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgMjYuMjkyOTY5IDYuMjkyOTY4OCBMIDExIDIxLjU4NTkzOCBMIDQuNzA3MDMxMiAxNS4yOTI5NjkgQSAxLjAwMDEgMS4wMDAxIDAgMSAwIDMuMjkyOTY4OCAxNi43MDcwMzEgTCAxMC4yOTI5NjkgMjMuNzA3MDMxIEEgMS4wMDAxIDEuMDAwMSAwIDAgMCAxMS43MDcwMzEgMjMuNzA3MDMxIEwgMjcuNzA3MDMxIDcuNzA3MDMxMiBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgMjYuOTgwNDY5IDUuOTkwMjM0NCB6Ij48L3BhdGg+Cjwvc3ZnPg==");
  }

  .plan-choosed .not-include-in-plan::before{
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCA1MCA1MCI+CjxwYXRoIGQ9Ik0gOS4xNTYyNSA2LjMxMjUgTCA2LjMxMjUgOS4xNTYyNSBMIDIyLjE1NjI1IDI1IEwgNi4yMTg3NSA0MC45Njg3NSBMIDkuMDMxMjUgNDMuNzgxMjUgTCAyNSAyNy44NDM3NSBMIDQwLjkzNzUgNDMuNzgxMjUgTCA0My43ODEyNSA0MC45Mzc1IEwgMjcuODQzNzUgMjUgTCA0My42ODc1IDkuMTU2MjUgTCA0MC44NDM3NSA2LjMxMjUgTCAyNSAyMi4xNTYyNSBaIj48L3BhdGg+Cjwvc3ZnPg==");
}

  .plan-card > .temp-css:hover,
  .plan-choosed:active,
  .plan-choosed > .temp-css {
    color: var(--color-plan-choosed-text);
    background: var(--color-plan-choosed-background);
    border: 1px solid var(--color-text);
  }
  
  .plan-choosed {
    background-color: var(--color-text);
    color: var(--color-plan-choosed-text);
    border: 1px solid black;
    flex-grow: 1.5;
  }
  
  .temp-css {
    width: 100%;
    font-size: 1.1em;
    cursor: pointer;
    color: var(--color-text);
    background: var(--color-inputs-lists-background);
    padding: 8px 12px;
    border: 1px solid var(--color-text);
    border-radius: 6px;
    outline: none;
    transition: 0.5s;
  }