@import './css/reset.css';
@import './css/header.css';
@import './css/main.css';
@import './css/footer.css';

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-center{
    display: flex;
    justify-content: center;
}

.vertical-center{
    display: flex;
    align-items: center;
}
