@import url(./reset.css);

nav{
    width: 100%;
    background-color: var(--color-main);
}

.navcenter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    margin: 0 auto;
}

a{
    color: white;
    text-decoration: none;
}

li{
    display: inline;
}

.navanchor{
    color:white;
    text-decoration: none;
    padding: 0 20px 0 20px;
}