@import url(./reset.css);

nav{
    width: 100%;
    background-color: var(--color-main);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
}

.navcenter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    margin: 0 auto;
}

a{
    color: white;
    text-decoration: none;
}

li{
    display: inline;
}

.navanchor{
    color:white;
    text-decoration: none;
    padding: 0 80px 0 80px;
    font-weight: bold;
    font-size: large;
}

.accountmenu{
    position: relative;
    display: inline-block;

}

.accmenu{
    display: none;
    background-color: var(--color-login);
    position: absolute;
    min-width: 215px;
    z-index: 1;
    text-align: center;
    padding: 10px;
    color: white; 
}

.btndropdown{
    padding: 2% 5% 2% 5%;
    border: 1px solid var(--color-input-underline);
    border-radius: 15px;
    background-color: var(--color-main);
}

#btnddexit{
    border-color: brown;
    background-color: red;
}

div > .btndropdown{
    margin: 2% 0 2% 0;
}

hr{
  margin: 1% 0 4% 0;
}