@import url(./reset.css);

body{
    background-color: var(--color-background);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo{
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.secdivs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divlogin{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: var(--color-login);
    padding: 4%;
    border-radius: 20px;
    box-sizing: border-box;
}

.divregister{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: 4%;
    background-color: var(--color-login);
    border-radius: 20px;
    box-sizing: border-box;
}

.register-fields{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

#formlogin > input[type="email"], #formlogin > [type="password"]{
    width: 100%;
    background: none;
    border: 2px solid var(--color-input-underline);
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    color: white;
    font-size: large;
    text-align: center;
    margin: 5% 0 5% 0;  
}

input[type="text"], .changestep > input[type="email"]{
    width: 100%;
    background: none;
    border: 2px solid var(--color-input-underline);
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    color: white;
    font-size: large;
    margin: 5% 0 5% 0;  
}

.register-fields > #formlogin > input[type="text"]{
    text-align: center;
}

input[type="submit"]{
    width: 75%;
    margin: 10% 0 2% 0;
    padding: 1%;
    border-radius: 10px;
}

input[type="checkbox"]{
    accent-color: var(--color-input-underline);
}

label{
    color: white;
}

.formanchors{
    color: var(--color-input-underline);
}

.dashboard{
    background-color: var(--color-login);
    width: 73%;
    margin: 2%;
    padding: 1%;
    border-radius: 10px;
}


table{
    width: 100%;
    border-collapse: collapse;
}

td{
    border: 2px solid var(--color-input-underline);
    color: rgba(255, 255, 255, 0.7);
    font-size: large;
    padding: 1%;
}

.tdname{
    width: 35%;
}

.tdstate{
    width: 55%;
}

.tools{
    width: 35px;
    height: 35px;
    margin: 1.2%;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
    transition: 500ms;
}

.tools:active{
    background:rgba(0, 0, 0, 0.3);
}

.noborder{
    border: 0 solid;
    color: white;
    font-size:x-large;
}

aside{
    width: 20%;
}

a > .btnsdash{
    margin: 3% 3% 0 3%;
    border-radius: 15px;
    cursor: pointer;
}

#prevBtn{
    position: absolute;
    left: 0;
    background-color: #2b4a7a;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#continueBtn{
    margin: 0 auto;
    background-color: #c0c0c0;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#step{
    position: absolute;
    left: 0;
}

.changestep{
    display: none;
}

.subtitles{
    color: rgba(255, 255, 255, 0.7);
}

.modal{
    display: none;
    position: fixed; 
    left: 0;
    top: 0;
    z-index: 1; 
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.modalregcliopt{
    margin: 25% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-login);
    width: 40%;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
}

.dembtns{
    margin: 20px 30px 20px 30px;
    padding: 20px;
    border-radius: 20px;
}

#logreganchor{
    border: none;
    padding: none;
    background: none;
    cursor: pointer;
    font-size: medium;
}

.btns{
    background-color: var(--color-input-underline);
    border-color: var(--color-login);
    color: white;
}

.plans-cards{
    border: 1px solid var(--color-login);
    border-radius: 10px;
    background-color: var(--color-input-underline);
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.plans-cards > ul{
    display: flex;
    flex-direction: column;
}

.plans-cards > ul > li{
    margin: 3%;
}

.plans-cards > ul > li > img{
    margin-right: 2%;
}

.plans-cards > *{
    color: white;
    margin: 3%;
}

.cards-btn{
    width: 50%;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
}

#cards-btn-buy{
    background-color: white;
    color: var(--color-background);
    border-color: var(--color-background);
}

#cards-btn-buyed{
    background-color: var(--color-background);
    border-color: white;
    color: white;
}

input[type="file"]{
    display: none;
}

.items-prob{
    padding: 10px;
    border: 2px solid var(--color-login);
    border-radius: 20px;
    background-color: var(--color-input-underline);
    cursor: pointer;
    color: white;
}

#btnregclient{
    margin-top: 3%;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

#probabBody{
    background-color: var(--color-login);
    border-radius: 15px;
    width: 80%;
}