@import url(./reset.css);

body{
    background-color: var(--color-background);
}

main{
    margin-top: 1%;
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color:white;
}

.divlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: var(--color-login);
    padding: 4%;
    border-radius: 20px;
    box-sizing: border-box;
}

#formlogin > input[type="email"], #formlogin > [type="password"]{
    width: 100%;
    background: none;
    border: 2px solid var(--color-input-underline);
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    color: white;
    font-size: large;
    text-align: center;
    margin: 5% 0 5% 0;  
}

input[type="text"], input[type="email"]{
    width: 100%;
    background: none;
    border: 2px solid var(--color-input-underline);
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    color: white;
    font-size: large;
    margin: 5% 0 5% 0;  
}

input[type="submit"]{
    width: 75%;
    margin: 10% 0 2% 0;
    padding: 1%;
    border-radius: 10px;
}

input[type="checkbox"]{
    accent-color: var(--color-input-underline);
}

label{
    color: white;
}

.formanchors{
    color: var(--color-input-underline);
}

.dashboard{
    background-color: var(--color-login);
    width: 75%;
    margin: 2%;
    padding: 1%;
    border-radius: 10px;
    
}

table{
    width: 100%;
    
}

td{
    border: 2px solid var(--color-input-underline);
    color: rgba(255, 255, 255, 0.7);
    font-size: large;
    padding: 1%;
}

.tdname{
    width: 35%;
}

.tdstate{
    width: 40%;
}

.tdtools{
    width: 25%;
}

.tools{
    width: 35px;
    height: 35px;
    margin: 1.2%;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
    transition: 500ms;
}

.tools:active{

    background:rgba(0, 0, 0, 0.3);
}

.noborder{
    border: 0 solid;
    color: white;
    font-size:x-large;
}

aside{
    width: 20%;
}

a > #btnregclient{
    margin: 1% 1% 0 1%;
    cursor: pointer;
}

#prevBtn{
    position: absolute;
    left: 0;
    background-color: #2b4a7a;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#continueBtn{
    margin: 0 auto;
    background-color: #c0c0c0;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.changestep{
    display: none;
}

.subtitles{
    color: rgba(255, 255, 255, 0.7);
}

.titles{
    color: white;
}
