@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

:root{
    --color-main: #797ae4;
    --color-background: #39659b;
    --color-login: #1a233d;
    --color-input-underline: #385e9d;
}