@import './reset.css';

aside{
    flex: .15;
    padding: 16px;
    background: var(--color-table-row-aside-background);
    border-right: 2px solid var(--color-header-aside-border);
}

aside nav{
    height: 100%;
}

aside ul{
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100%;
}

aside ul li {
    display: flex;
    background: var(--color-inputs-lists-background);
    border-radius: 6px;
    padding: 4px 12px;
}

aside a {
    width: 100%;
    font-size: 1.1em;
    color: var(--color-form-list-text);
    text-decoration: none;
    transition: .3s;
}

aside a:hover {
    opacity: .6;
}

aside li:last-child{
    margin-top: auto;
}

aside li:last-child a:hover{
    color: red;
}
