@import './reset.css';

header{
    background-color: #19181D;
    padding: 0 16px;
    border-bottom: 2px solid #202024;
}

.logo-container{
    width: 156px;
    padding: 6px;
}
.logo-container img{
    width: 100%;
}
