@import './reset.css';

header{
    background-color: var(--color-table-row-aside-background);
    padding: 0 16px;
    border-bottom: 2px solid var(--color-header-aside-border);
}

.logo-container{
    width: 156px;
    padding: 6px;
}
.logo-container img{
    width: 100%;
}
