@import "./reset.css";

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 20px 40px 40px;
  background: var(--color-main-background);
  overflow-y: auto;
}

th,
h1 {
  font-weight: 900;
}

h2,
.main-container th {
  font-size: 1.5em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--color-main-container);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  flex: 1;
  padding: 20px;
  min-width: 410px;
  max-height: 320px;
  overflow: auto;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-config-li-background);
}

.card h2 {
  flex: 0 0 auto;
}

.card canvas {
  flex: 1 1 auto;
  height: 100% !important;
  margin: auto;
}

.plan-card {
  min-width: 330px;
  min-height: 550px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  transition: .7s;
}

.plan-card:hover {
  border: 1px solid var(--color-text);
}

.plan-card ul li {
  margin: 10px;
  font-size: 1.2em;
  list-style-type: none;
}

.plan-card input[type="submit"] {
  width: 100%;
  font-size: 1.1em;
  cursor: pointer;
  color: var(--color-text);
  background: var(--color-inputs-lists-background);
  padding: 8px 12px;
  border: 1px solid var(--color-text);
  border-radius: 6px;
  outline: none;
  transition: 0.5s;
}

.plan-card input[type="submit"]:hover,
.plan-choosed input[type="submit"] {
  color: var(--color-plan-choosed-text);
  background: var(--color-plan-choosed-background);
  border: 1px solid var(--color-text);
}

.plan-choosed {
  background-color: var(--color-text);
  color: var(--color-plan-choosed-text);
  border: 1px solid black;
  flex-grow: 1.5;
}

.plan-card li:before {
  margin-right: 10px;
  content: var(--color-plan-included);
}

#free-plan li:nth-child(n+3):before,
#advanced-plan li:nth-child(n+4):before {
  content: var(--color-plan-not-included);
}

.plan-choosed li:before {
  content: var(--color-plan-choosed-included);
}

.plan-choosed#free-plan li:nth-child(n+3):before,
.plan-choosed#advanced-plan li:nth-child(n+4):before {
  content: var(--color-plan-choosed-not-included);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table button {
  color: white;
  padding: 8px 10px;
  background-color: var(--color-table-button-background);
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

table button:hover {
  background-color: var(--color-table-button-background-hover);
}

th,
td {
  padding: 12px;
  border: 1px solid var(--color-table-row-aside-background);
}

td button {
  margin: 0 1em;
}

th {
  background-color: var(--color-table-row-important);
  color: var(--color-text);
}

tr {
  text-align: center;
}

tr:nth-child(even) {
  background-color: var(--color-table-row-aside-background);
}

tr:hover {
  background-color: var(--color-table-row-important-hover);
}

.main-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex: 1;
  background: var(--color-main-container);
  overflow: auto;
  padding: 20px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-config-li-background);
}

#spacing {
  justify-content: space-evenly;
}

.news-toggle {
  display: none;
}

.news-container {
  display: flex;
  justify-content: space-evenly;
  gap: 12px;
}

.news-item {
  flex: 0.2;
  text-align: center;
  justify-content: center;
}

.news-item img {
  aspect-ratio: 16 / 10;
  width: 100%;
  max-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

form>textarea {
  background: var(--color-inputs-lists-background);
}

form textarea {
  font-size: 1.1em;
  color: var(--color-form-list-text);
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 6px;
  outline: none;
  border: none;
  resize: none;
}

form label {
  color: var(--color-form-list-text);
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.buttons-group {
  display: flex;
  gap: 24px;
}

form .container {
  justify-content: space-evenly;
  gap: 16px;
}

.form-section {
  display: flex;
  flex: 0.35;
  flex-direction: column;
}

form input[type="submit"] {
  width: 100%;
  font-size: 1.1em;
  cursor: pointer;
  color: var(--color-form-list-text);
  background: var(--color-inputs-lists-background);
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.form-section input[type="text"],
.form-section input[type="email"],
.form-section input[type="date"],
.form-section input[type="number"],
.form-section textarea,
form select {
  width: 100%;
  background-color: var(--color-main-background);
  color: var(--color-form-input-text);
  margin-bottom: 15px;
  border: 1.5px solid var(--color-form-list-text);
  border-radius: 9px;
  box-sizing: border-box;
  font-size: 1em;
  outline: none;
  padding: 7px 12px;
  transition: 80ms;
}

.form-section input[type="text"]:focus,
.form-section input[type="email"]:focus,
.form-section input[type="date"]:focus,
.form-section input[type="number"]:focus,
.form-section textarea:focus,
form select:focus {
  border-color: var(--color-text);
  box-shadow: 0 0 0 1px var(--color-text);
}


form input[type="radio"],
form input[type="checkbox"] {
  margin-right: 10px;
  accent-color: var(--color-text);
}

dialog {
  position: absolute;
  width: inherit;
  height: inherit;
  border: none;
  background: none;
}

.details-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-dialog-background);
  min-width: 300px;
  width: 40%;
  padding: 1%;
  border-radius: 10px;
  text-align: center;
  border: 2px solid var(--color-dialog-background-border);
}

.info-buttons {
  margin-top: .5em;
}

.info-buttons button {
  margin: 0 0.8em;
  padding: 0 0.4em;
  font-size: 1.2em;
  color: var(--color-dialog-header-button-visited);
  background: none;
  border: none;
  border-bottom: 2px solid var(--color-dialog-header-buttons);
  cursor: pointer;
}

.info-buttons button:hover {
  border-bottom: 2px solid var(--color-dialog-header-buttons-hover);
}

#btn-general-info,
#btn-adress-info,
#btn-resumo-info {
  color: var(--color-dialog-header-buttons-not-visited);
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin: 0.6em 0;
}

.field .field {
  width: 40%;
}

#client-documents-form,
#process-information-form {
  width: 100%;
}

#client-documents-form input:disabled,
#process-information-form input:disabled {
  color: var(--color-dialog-header-buttons-not-visited);
}

.client-information,
.process-information {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5em;
}

.client-information input,
.client-information label,
.process-information input,
.process-information label {
  color: var(--color-form-input-text);
  margin: 0.3em;
}

.client-information label,
.process-information label {
  font-size: 1.2em;
  font-weight: 500;
}

.client-information input,
.process-information input {
  border: none;
  background: none;
  border-bottom: 2px solid var(--color-form-list-text);
  width: 100%;
  font-size: 1em;
}

.adress-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.adress-details>div>input {
  width: 90%;
}

.btn-dialog {
  width: 100px;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 0.5em;
  color: var(--color-dialog-button-text);
  background-color: var(--color-dialog-button);
  border: 1.5px solid var(--color-dialog-background-border);
  transition: 0.5s;
  cursor: pointer;
}

.btn-dialog:focus {
  background-color: var(--color-dialog-button-focus);
}

.btn-dialog:hover {
  transform: scale(1.06);
}

.details-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#btn-client-exit,
#btn-process-exit {
  color: crimson;
}

#btn-client-previous,
#btn-process-previous {
  display: none;
}

#step-adress {
  display: none;
}

#step-general {
  display: none;
}

#step-ementa {
  display: none;
}

.client-isOlder {
  display: flex;
  flex-direction: row;
}

.client-isOlder input {
  width: inherit;
}

.client-isOlder input[type="radio"] {
  margin-right: inherit;
}

#btn-client-next,
#btn-process-next {
  color: white;
  border: 1.5px solid var(--color-dialog-button-next);
  background-color: var(--color-dialog-button-next);
}

.content {
  display: flex;
  flex-direction: row;
}

.account-general-information,
.account-fields>.form-section {
  flex: initial;
  width: 100%;
}


.account-fields {
  display: flex;
  flex-direction: row;
}

.account-configs-options {
  background: none;
  border: none;
  flex: 0.2;
}

.account-configs-options nav {
  height: initial;
}

.account-configs-options li {
  background: none;
}

.account-configs-options li:hover {
  background-color: var(--color-config-li-background);
}

.account-configs-options li:last-child a:hover {
  color: var(--color-form-list-text);
  opacity: 0.6;
}

.account-configs-options span {
  font-weight: bold;
  color: var(--color-text);
}

#account-config-list {
  display: block;
  min-width: 20%;
  flex: initial;
}

.content .container {
  display: flex;
  flex-direction: column;
}

.content .configs-list {
  padding: 1em;
}

#account-config {
  display: none;
}

#account-theme {
  display: none;
}

.theme-images {
  display: flex;
  flex-direction: row;
}

.theme-images span,
.theme-images h1 {
  text-align: center;
}

.configs-list h1,
.configs-list h2,
.configs-list span,
.configs-list label {
  color: var(--color-form-list-text);
}

#btn-update-accountinfo {
  min-width: 200px;
  font-size: 1em;
  background-color: green;
  transform: initial;
  margin: 0.6em 0;
  color: white;
}

#btn-change-accountpsw {
  min-width: 200px;
  font-size: 1em;
  background-color: var(--color-inputs-lists-background);
  transform: initial;
  border: 1px solid var(--color-form-list-text);
  margin: 0.6em 0;
}

#delete-account-field>h2 {
  color: crimson;
}

#btn-delete-account {
  min-width: 200px;
  font-size: 1em;
  background-color: var(--color-inputs-lists-background);
  transform: initial;
  color: crimson;
  border: 1px solid var(--color-form-list-text);
  margin: 0.6em 0;
}

.btn-fade:active {
  transition: initial;
  background: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.config-select {
  width: 80px;
  border-radius: 10px;
  padding: 7px;
  font-size: 1.05em;
  color: var(--color-form-list-text);
  background-color: var(--color-main-background);
  border: 1px solid var(--color-form-list-text);
  margin: 0.6em 0;
}

.account-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
}

.account-image img {
  border-radius: 400px;
  min-width: 200px;
  width: 50%;
}

.theme-card {
  border: 1px solid var(--color-form-list-text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: .6em;
  border-radius: 15px;
}

.theme-card img {
  margin: .6em .6em 1.2em .6em;
  border: 1px solid var(--color-form-list-text);
  border-radius: 13px;
}

.theme-card hr {
  margin: .3em;
  width: 90%;
}

#light-mode-theme,
#dark-mode-theme {
  transition: 1s;
  cursor: pointer;
}

#light-mode-theme:hover {
  border-color: #4e4e4e;
  background-color: #e6e4e1;
}

#light-mode-theme:hover h1,
#light-mode-theme:hover span {
  color: #4e4e4e;
}

#light-mode-theme:hover hr {
  border-color: initial;
}

#dark-mode-theme:hover {
  border-color: #98999b;
  background-color: #1c1c1e;
}

#dark-mode-theme:hover h1,
#dark-mode-theme:hover span {
  color: #98999b;
}

#dark-mode-theme:hover hr {
  border-color: initial;
}

#edit-information-label {
  appearance: none;
  position: absolute;
  right: 0;
  transform: scale(1.2);
  margin: .2em 1.5em 0 0;
}

#edit-information-client-state,
#edit-information-process-state {
  position: absolute;
  appearance: none;
}

.emphasis-text {
  color: var(--color-emphasis-text);
}

.not-emphasis-text {
  color: var(--color-form-list-text);
}

/* fazer isso em media query de cell
#light-mode-theme{
  border-color: #4e4e4e;
  background-color: #e6e4e1;
}

#light-mode-theme h1, #light-mode-theme span{
  color: #4e4e4e;
}

#light-mode-theme hr{
  border-color: #4e4e4e;
}

#dark-mode-theme{
  border-color: #98999b;
  background-color: #1c1c1e;
}

#dark-mode-theme h1, #dark-mode-theme span{
  color: #98999b;
}

#dark-mode-theme hr{
  border-color: #98999b;
}
  */

.chatbot-container {
  color: white;
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-config-li-background);
}

.chatbot-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
}

.chatbot-container img {
  display: block;
  margin: 20px auto 20px;
  opacity: .6;
  min-width: 200px;
  width: 50%;
  max-width: 500px;
  height: auto;
}

.chat-window {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: var(--color-inputs-lists-background);
  border-radius: 6px;
}

.chat-message {
  margin-bottom: 10px;
  padding: 8px 12px;
  background: var(--color-main-container);
  border-radius: 6px;
  max-width: 75%;
  word-wrap: break-word;
}

.chat-input {
  display: flex;
  gap: 8px;
  background: var(--color-main-container);
}

.chat-input textarea {
  color: white;
  flex: 1;
  border: none;
  resize: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  outline: none;
  max-height: 120px;
  background: var(--color-inputs-lists-background);
  line-height: 1.4;
}

.chat-input button {
  cursor: pointer;
  color: var(--color-form-list-text);
  background: var(--color-inputs-lists-background);
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}